body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 15px) 10px repeat(6, 15px);
    grid-template-rows: repeat(2, 15px) 10px repeat(6, 15px);
    grid-template-areas: "area1 area1 area4 area5 area5 area5 area5 area5"
                         "area1 area1 area4 area5 area5 area5 area5 area5"
                         "area2 area2 area4 area6 area6 area6 area6 area6"
                         "area3 area3 area4 area7 area7 area7 area7 area7"
                         "area3 area3 area4 area7 area7 area7 area7 area7"
    

}

.item1 { 
    grid-area: area1;
    background-color: #006aa7;
    
    
}

.item2 {
    grid-area: area2;
    background-color: #efe514;
}

.item3 { 
    grid-area: area3;
    background-color: #006aa7;
    
    
}

.item4 {
    grid-area: area4;
    background-color: #efe514;
}

.item5 {
    grid-area: area5;
    background-color: #006aa7;
}

.item6 {
    grid-area: area6;
    background-color: #efe514;
}

.item7 {
    grid-area: area7;
    background-color: #006aa7;
}
.grid2 {
    background-color: blue;
}